@font-face {
    font-family: firstFont;
    src: url(/layout/alegreya.woff) format('woff');
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: secondFont;
    src: url(/layout/blackJack.woff);
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
//	unicode-range: ;
}
@font-face {
    font-family: thirdFont;
    src: url(/layout/label.woff);
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
//	unicode-range: ;
}
/*																		     MEDIA QUERYS FOR SCREEN SIZES       */
@media only screen and (min-width: 250px) {
    .wrapper {
		margin: 1em auto 0.03em auto;
        width: 93.75%;
        font-size: 0.3em;
//        color: red;
    }
    #pageHeight{
		position: relative;	
        height: 100%;
//		min-height: min-content;
    }
    .icons {
        margin-bottom: 1em;
        width: 4em;
        height: 4em;
    }
    .menu {
        padding: 0.13em 0.13em 0.02em 0.13em;
        margin: 0.1em;
    }
	.aboutPicCont{
		width: 10%;
	}
#footerActor{
	left: 8.33%;
	font-size: 0.8em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 0.8em;
}
}
@media only screen and (min-width: 340px) {
    .wrapper {
        margin: 2em auto 0.17em auto;
        width: 93.75%;
        font-size: 0.47em;
//        color: pink;
    }
    #pageHeight{
		position: relative;	
        height: 100%;
//		min-height: min-content;
    }
    .icons {
        margin-bottom: 1em;
        width: 3.7em;
        height: 3.7em;
    }
    .menu {
        padding: 0.13em 0.13em 0.02em 0.13em;
        margin: 0.1em;

    }
	.aboutPicCont{
		width: 20%;
	}
#footerActor{
	left: 8.33%;
	font-size: 0.8em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 0.8em;
}
}
@media only screen and (min-width: 470px){
    .wrapper {
        margin: 2em auto 0.4em auto;
        width: 90%;
        font-size: 0.67em;
//        color: grey;
//		border: 2px solid black;
    }
    #pageHeight{
		display: block;
		position: relative;	
		height: 70%; 
		border: 2px solid yellow;
    }
    .icons {
        margin-bottom: 1px;
        width: 15px;
        height: 15px;
    }
    .menu {
        padding: 0.13em 0.13em 0.02em 0.13em;
        margin: 0.1em;

    }
	.aboutPicCont{
		width: 30%;
	}
#footerActor{
	left: 8.33%;
	font-size: 0.8em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 0.8em;
}
}
@media only screen and (min-width: 640px){
    .wrapper{
		 margin: 2.5em auto 0.7em auto;
        width: 90%;
        font-size: 0.85em;
//        color: orange;
    }
    #pageHeight{
//		min-height: min-content;
		height: 100%;
		position: relative;		
    }
    .icons {
        margin-bottom: 1px;
        width: 18px;
        height: 18px;
    }
    .menu{
        padding: 0.13em 0.13em 0.02em 0.13em;
        margin: 0.1em;

    }
	.aboutPicCont{
		width: 40%;
	}
#footerActor{
	left: 8.33%;
	font-size: 1em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 1em;
}
}
@media only screen and (min-width: 960px){
    .wrapper{
    margin: 2.5em auto 0.7em auto;
        width: 90%;
        font-size: 1em;
 //       color: purple;
    }
    #pageHeight{
		min-height: min-content;
		position: relative;		
    }
    .icons {
        margin-bottom: 1px;
        width: 21px;
        height: 21px;
    }
    .menu {
        padding: 0.2em 0.2em 0.06em 0.2em;
        margin: 0.8em;

    }
	.aboutPicCont {
		width: 70%;
}
#footerActor{
	left: 8.33%;
	font-size: 1em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 1em;
}
}

@media only screen and (min-width: 1280px){
    .wrapper{
    margin: 3em auto 1em auto;
    width: 90%;
    font-size: 1em;
//    color: blue;
    }
    #pageHeight{
		position: relative;
		min-height: 30em;
    }
    .menu {
        padding: 0.4em 0.4em 0.08em 0.4em;
        margin: 1.1em;

    }
    .icons {
        margin-bottom: 1px;
        width: 24px;
        height: 24px;
    }
	.aboutPicCont{
		width: 80%;
	}
#footerActor{
	left: 8.33%;
	font-size: 1em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 1em;
}
}
@media only screen and (min-width: 1920px) {
    .wrapper {
    margin: 3.5em auto 1.2em auto;
        width: 93.75%;
        font-size: 1.2em;
 //       color: green;
    }
    #pageHeight{
        min-height: 40em;
		position: relative;
    }
    .icons {
        margin-bottom: 1px;
        width: 27px;
        height: 27px;
    }
    .menu {
        padding: 0.4em 0.4em 0.08em 0.4em;
        margin: 1.1em;
    }
#footerActor{
	left: 8.33%;
	font-size: 1em;
}
#footerDeveloper{
	right: 8.33%;
	font-size: 1em;
}
}
/*															END     MEDIA QUERYS FOR SCREEN SIZES       */
html{
	position: relative;
//	border: 2px solid blue;
}
body{
	display: block;
	position: relative;	
	background: url('/layout/background4.svg')no-repeat fixed;
	background-size: cover;
	margin: 0em;
	width: 100%;
	height: 100%;
	font-family: firstFont;
//	border: 2px dotted black;
}
body:before{
	content: "";
	background: url('/media/pictures/7-750x500-48kb.jpg')no-repeat center fixed;
	background-size: cover;
	background-position: right;
	opacity: 0.32;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;	
}
#pageHeight{
	position: relative;
//	left: 2.5%;
//	top: 3em;
}
/*											       FOR HEADER*/
#header{
	position: relative;
	display: block;
	background: url('/layout/headerBackground3.png')no-repeat;
	background-size: cover;
	width: 100%;
	height: 6em;
	margin: 0em auto 0em auto;
// 	border: 1px solid black;
}
#h1Wrapper{
	position: relative;
	display: block;
	margin: 0em auto 0em auto;
//	border: 2px solid orange;
}
#h1Name {
	position: relative;
    display: inline-block;
	left: 8.33%;
	top: 2em;
//	border: 1px solid black;
}
.h1Name{
	position: relative;
	display: block;
	bottom: 0.3em;
    font-family: secondFont;
	font-size: 4em;
	font-weight: 100;
	text-decoration: none;
	color: #000000;
	
//	border: 1px solid red;
}
#h1Links{
	position: relative;
	display: inline-block;
    float: right;
	right: 10.33%;
	top: 2.6em;
//	border: 1px solid blue;
}
#h1Links img{
	min-height: 1.3em
}
/*												END	HEADER*/

/*												      MENU*/
#menu{
	display: block;
	position: relative;
	margin-bottom: 0em;
}
#menu a{
//	clear: both;
	font-family: thirdFont;
	font-size: 1.15em;
	font-weight: normal;
	line-height: normal;
//	border: 1px solid black;	
}
.sMTable li{
	display: inline;
}
.menuA{
    color: #000;
    text-decoration: none;
}
.sMenu{
    margin-left: auto;
    margin-right: auto;
}
.sMTable{
   margin: 0 auto;
}
/*												END	MENU*/

/*												       INDEX PAGE*/
#frontPageContI{
	position: relative;
	width: 100%;	
	margin-top: 2em;
//	border: 1px dotted red;
}
#frontPageContI2{
	position: relative;
	display: block;
	height: 38em;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
//	border: 1px solid green;
}
#frontPageContI2:after{
	content: "";
	display: block;
	background: url("/layout/7.jpg");
	background-size: cover;
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;	
	right: 0;
	position: absolute;
	z-index: -1;	
}
#images{
	position: relative;	
	display: inline-block;
//	background: url("/layout/perkinsFrontFrame.jpg")center;
	float: left;
	width: 49%;
	margin: 3em 0em 0em 0em;
//	border: 1px solid yellow;
}
#imgCont{
	position: relative;	
	display: block;
	width: 90%;
	margin: auto;
//	border: 1px double pink;
}
.img{
	position: relative;
	display: block;
	width: 80%;
	margin: 0em auto;
	overflow: hidden;
	text-align: center;
	border: 0.6em double yellow;
        border-radius: 3em;
        
}
/*-------------------------*/
#frontSideI{
	display: inline-block;
	position: relative;	
	float: left;
	width: 50%;
	margin: 3em 0em 0em -3em;
//	border: 1px solid blue;
}
.h1MainPgTitle{
	position: relative;
	display: block;
	margin: 0em 1em 0em 1em;
	padding: 0em;
	text-align: center;
	font-size: 3em;
}
.h3MainPgTitle{
	position: relative;
	display: block;
	margin: 0.1em 1em 1em 1em;
	padding: 0em;
	text-align: center;
	font-size: 1.4em;
}
.pMainPgTitle{
	font-size: 1em;
	line-height: 1.27em;
	margin: 0.625em 0;
	padding: 0 1em 0 2.1em;
	text-align: justify;
}
.pMainPgTitle:first-line {
	font-weight: 800;
	font-variant: small-caps;
}
.pMainPgTitle:first-letter {
	font-size: 7em;
	line-height: 1em;
	font-weight: 400;
	float: left;
	margin: 0 0 0 -0.1em;
}
.pMainPgTitle  + .pMainPgTitle:first-letter {
	font-size: 1em;
	line-height: 1.25em;
	float: none;
	margin: 0;
}
.pMainPgTitle  + .pMainPgTitle:first-line {
	font-weight: 400;
	font-variant: normal;
}

/*												  END    INDEX PAGE*/

/*												       ABOUT PAGE*/
#aboutCont{
	position: relative;
}
#aboutCont2{
	position: relative;
	display: block;
	width: 80%;
	margin: 3em auto 1em auto;
//	border: 1px solid black;
}
#aboutCont2:after{
	content: "";
	display: block;
	background: url("/layout/8.jpg")no-repeat fixed;
	background-size: cover;
	opacity: 1.2;
	top: 0;
	left: 0;
	bottom: 0;	
	right: 0;
	position: absolute;
	z-index: -1;	
}
/************text content*/
#aboutContent{
	position: relative;
	display: inline-block;
	width: 60%;
	margin: 0.35em 0em 1.8em 0em;
}
.h1About{
	position: relative;
	display: block;
	text-align: center;
	margin: 0.5em 0em 0.75em 0em;
}
.pAbout{
	font-size: 1em;
	line-height: 1.27em;
	margin: 0.625em 0em 0.625em 2em;
	padding: 0 1em 0 2.1em;
	text-align: justify;
}
.pAbout:first-line {
	font-weight: 800;
	font-variant: small-caps;
}
.pAbout:first-letter {
	font-size: 7em;
	line-height: 1em;
	font-weight: 400;
	float: left;
	margin: 0 0 0 -0.1em;
}
.pAbout  + .pAbout:first-letter {
	font-size: 1em;
	line-height: 1.25em;
	float: none;
	margin: 0;
}
.pAbout  + .pAbout:first-line {
	font-weight: 400;
	font-variant: normal;
}
/***********end text content*/

/************ABOUT PICTURE div*/
#aboutPic{
	position: relative;
	display: inline-block;
	float: right;
	left: -6em;
	margin: 1.4em 0em 0em 0em;
}
.aboutPicCont img{
	position: relative;
	width: 100%;
	vertical-align: middle;
	border: 0.3em solid gold;
	border-top-left-radius: 12em;
	border-top-right-radius: 12em;
	border-bottom-left-radius: 22em;
	border-bottom-right-radius: 10em;
	box-shadow: 1em 1em 1.7em #B2AFE4;
}
/***********END	ABOUT PICTURE div*/

/*															 END ABOUT PAGE*/

/*														REPRESENTATION PAGE*/
.repInfo{
	position: relative;
	display: block;
//	border: 1px solid black;
}
.divRep{
	position: relative;
	display: inline-block;
	width: 70%;
	margin: 3% 12.5% 0em 16.5%;
//	border: 1px solid yellow;
}
.divRep:after{
	content: "";
	display: block;
	background: url("/layout/9.jpg")no-repeat fixed;
	background-size: cover;
	opacity: 1.2;
	top: 0;
	left: 0;
	bottom: 0;	
	right: 0;
	position: absolute;
	z-index: -1;	
}
.cMngr{
	display: inline-block;
	position: relative;
	margin: 6% 1% 1% 6%;
	text-align: center;
}
.cAgent{
	display: inline-block;
	position: relative;
	margin: 6% 1% 1% 7%;
	text-align: center;
}
/*					END		REPRESENTATION PAGE*/

/*						PHOTOS PAGE	*/
#headshotContainer{
	position: relative;	
// 	border: 1px dashed blue;
}
.h1PicsPage{
	position: relative;
	display: block;
	margin: 0.3em auto 0.3em auto;
	font-size: 3em;
	text-align: center;
//	border: 1px solid black;
}
#picWrapper{
	position: relative;
	display: block;
	width: 85%;
	margin: 0 auto; 
	border: 0em solid #000000;
	border-radius: 2em;
	overflow: hidden;
}
#picWrapper:after{
	content: "";
	display: block;
	background: url("/layout/4.jpg")no-repeat fixed;
	background-size: cover;
	opacity: 1.2;
	top: 0;
	left: 0;
	bottom: 0;	
	right: 0;
	position: absolute;
	z-index: -1;	
}
#picCont{
        display:block;
        position:relative;
        width: 99.99%;
        margin: auto;
}               
#pics{
        display: block;
        width: 85%;
        margin: auto;
}
.picsA{
        display: inline-block;
        position: relative;
		width: 27%;
		left: 10%;
}
.lastA{
        display: block;
        position: relative;
        width: 27%;
		left: 37%;
}
/*                 beg STICKER EFFECT*/

.sticker {
        position: relative;
		display: block;
        width: 11em;
        height: 14em;
        margin: 2em;
//		border: 1px solid red;
}
.example-1 .sticker-img {
        background-image: url('/media/pictures/1-240x360-18kb.jpg');
        background-size: cover;
		border: 0.36em ridge gold;
}
.example-2 .sticker-img {
          background: url('/media/pictures/2-240x360-14kb.jpg')no-repeat;
        background-size: cover;
		border: 1px solid green;
		border: 0.36em ridge gold;		
}
.example-3 .sticker-img {
          background: url('/media/pictures/3-240x360-14kb.jpg')no-repeat;
        background-size: cover;
		border: 1px solid green;
		border: 0.36em ridge gold;
}
.example-4 .sticker-img {
          background: url('/media/pictures/4-240x360-19kb.jpg')no-repeat;
        background-size: cover;
		border: 0.36em ridge gold;
}
.example-5 .sticker-img {
          background: url('/media/pictures/5-240x360-13kb.jpg')no-repeat;
        background-size: cover;
		border: 0.36em ridge gold;	
}
.example-6 .sticker-img {
          background: url('/media/pictures/6-240x360-10kb.jpg')no-repeat;
        background-size: cover;
		border: 0.36em ridge gold;		
}
.example-7 .sticker-img {
          background: url('/media/pictures/7-360x240-11kb.jpg')no-repeat;
        background-size: cover;
		border: 0.36em ridge gold;	
}
.example-2 .sticker-shadow {
        opacity: 0.6;
}
/*                 end STICKER EFFECT*/
/*							END	PHOTOS PAGE	*/

/*						VIDEO PAGE*/
#videoPg{
	position: relative;
//	border: 1px solid black;
}
.h1ReelPage{
	position: relative;
	display: block;
	margin: 1em auto 1em auto;
}
#videoPgWrapper{
	display: block;
	position: relative;
	width: 80%;
//	height: 100%;
	margin: 1em auto 1em auto;	
	border: 0.001em solid #fff;
}
#videoPgWrapper:after{
	content: "";
	display: block;
	background: url("/layout/10.jpg")no-repeat fixed;
	background-size: cover;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;	
	right: 0;
	position: absolute;
	z-index: -1;	
}
#reel{
	display:	 block;
	position: relative;
	width: 100%;
	margin: 3.5em 0em 2.5em 0em;
//	border: 2px solid black;
}
#reelIframe{
	display: block;
	position: relative;
	width: 80%;
	margin: 0em auto 0em auto;
//	border: 2px solid green;
}
/*													END VIDEO PAGE*/

/*											              FOOTER*/
footer{
	position: relative;
	display: block;
	background: url('/layout/footerBackground.png')no-repeat;
	background-size: cover;
	width: 100%;
	height: 12em;	
}
#footerActor{
	display: inline-block;
	position: relative;
	font-weight: 400;
	color: #FFA500;
//	border: 1px solid black;
}
#footerDeveloper{
	display: inline-block;
	position: relative;
    float: right;
	font-weight: 400;
	color: #FFA500;
//	border: 1px solid black;
}
#compat{
        display:inline-block;
        position:relative;
        float: right;
        right: -5%;
        top: 14%;
       }
#compat p{
        display: inline-block;
        position: relative;
        
}
/*													END	FOOTER*/


